/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");*/
*,
h1,
h2,
h3,
h4,
h5,
h6,
p.header-subtitle,
p.header-subtitle2 {
    font-family: "Inter", "Noto Sans JP", sans-serif;
}
:root {
    --fw-fairwind: #0693e3;
    --fw-highlight-yellow: #ffe900;
    --fw-highlight-blue: #87dfff;
    --fw-highlight-pink: #ff8ea5;
    --fw-paleblue: #7db4e6;
    --fw-grayblue: #edf4fc;
    --fw-red: #df2a4a;
}
html {
    overflow-x: hidden;
}
.post-item strong {
    color: inherit;
}
html {
    scroll-behavior: smooth;
}
body {
    --line-height: 1.8;
    line-height: var(--line-height);
    font-family: "Inter", "Noto Sans JP";
}
.post-item p {
    line-height: var(--line-height) !important;
}
hr.wp-block-separator {
    border: none !important;
    height: 8px;
    background-image: repeating-linear-gradient(
        45deg,
        #aaa 0,
        #aaa 1px,
        transparent 0,
        transparent 50%
    );
    background-size: 8px 8px;
    margin-bottom: 32px;
}
.highlight-color {
    color: #000;
}
a.read-more {
    display: none;
}
.content,
#page-content {
    line-height: 1.8;
}
.bg-orange {
    background-color: #fffbf5;
    padding: 10px;
}
ul.dropdown-menu > li > a {
    text-transform: none;
}
body,
html {
    padding: 0;
    margin: 0;
}
body {
    text-align: left;
}
.header,
.header-homepage {
    text-align: center;
}
ul.oc-list {
    padding: 0;
}
.oc-list li {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    break-inside: avoid;
    transition: 0.3s;
    background: #fff8e8;
    border-left: solid 10px #efaf00;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}
.oc-list li:hover {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    break-inside: avoid;
    transition: 0.3s;
    background: #efaf00;
    border-left: solid 10px #b68500;
}
.oc-list a {
    color: #000;
    text-decoration: none;
    line-height: 1.8em;
}
.oc-list li:hover a {
    color: #fff;
}
.oc-list li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 15px 10px;
}
.oc-list li:first-child {
    margin-top: 0;
}
@media (min-width: 768px) {
    ul.oc-list {
        column-count: 3;
    }
}
@media (max-width: 767px) {
    ul.oc-list {
        column-count: 2;
    }
}
.wp-block-button {
    transition: 0.3s;
}
.wp-block-button:hover {
    opacity: 0.75;
}
body {
    color: #333;
}
h2,
h3 {
    font-weight: 700;
    font-feature-settings: "palt";
    font-size: 24px;
    line-height: 1.3;
}
h3 {
    padding: 16px;
    border-bottom: 1px solid rgba(7, 5, 5, 0.1);
    color: #333;
}
h3:not(.plain) {
    position: relative;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    border-bottom: 3px solid #a1d8ff;
    display: block;
    color: #333;
}
h3:not(.plain):before {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 15%;
    height: 3px;
    content: "";
    background: var(--fw-fairwind);
}
h2 {
    border: none;
    background: var(--fw-fairwind);
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    color: #fff !important;
    border-radius: 5px;
    display: block;
}
h4 {
    font-size: 1.2rem;
}
.content h4 {
    font-weight: 700;
    font-feature-settings: "palt";
    line-height: 1.3;
    color: #333;
}
.single-post h2 * {
    color: #fff !important;
}
.single-post h2,
.single-post h3 {
    padding: 1rem 2rem;
    margin: 1rem -2rem;
}
.footer-logo h2,
.home h2,
h2.post-title {
    background: 0 0;
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.home h2 {
    color: #333 !important;
    margin: 24px 0 16px 0;
}
.footer-logo h2 {
    color: #fff !important;
}
h2.post-title {
    color: inherit !important;
    font-size: 24px;
    font-weight: 400;
}
@media (max-width: 1023px) {
    .post-list h2.post-title {
        margin: 0 !important;
        padding: 0 0 8px 0 !important;
        display: block;
    }
}
@media (max-width: 767px) {
    h2,
    h3 {
        padding: 1rem calc(50vw - 50%) !important;
        margin: 1rem calc(50% - 50vw) !important;
    }
    .footer-logo h2 {
        padding: 0 !important;
        margin: 0 !important;
    }
    h2 {
        border-radius: 0;
    }
    .post-list h2.post-title {
        margin: 0 !important;
        padding: 0 0 8px 0 !important;
        display: block;
    }
    .post-inner * {
        max-width: 100%;
    }
}
.footer h4 {
    font-size: 22px;
    border-bottom: solid 3px var(--fw-fairwind);
    padding: 5px 10px;
    margin: 0 0 12px 0;
}
h6 {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1.2em;
}
.grecaptcha-badge {
    z-index: 999;
}
p.optional:before,
p.required:before {
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    font-size: 90%;
}
p.required:before {
    content: "必須";
    background-color: #ff2b2b;
    font-weight: 700;
}
p.optional:before {
    content: "任意";
    background-color: #7a7a7a;
}
input.wpcf7-text,
textarea.wpcf7-textarea {
    border-radius: 5px;
    border-color: #bbb;
    transition: 0.3s;
}
button,
input[type="button"],
input[type="email"],
input[type="submit"],
input[type="text"],
textarea {
    -webkit-appearance: none;
}
@media (min-width: 768px) {
    input.wpcf7-submit {
        padding: 0;
        height: 40px;
        line-height: 40px;
        width: 300px;
        font-weight: 700;
        color: #fff;
        background: #1c86f2;
        border-radius: 5px;
        border: none;
        margin: 0 auto 0 auto;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    input.wpcf7-submit {
        padding: 0;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-weight: 700;
        color: #fff;
        background: #1c86f2;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    .wpcf7-form-control-wrap,
    input[type="email"],
    input[type="text"],
    textarea {
        width: 100%;
    }
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
        --active: #1c86f2;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, 0.3);
        --border: #bbc1e1;
        --border-hover: #1c86f2;
        --background: #fff;
        --disabled: #f6f8ff;
        --disabled-inner: #e1e6f9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        outline: 0 !important;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border)) !important;
        background: var(--b, var(--background)) !important;
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    input[type="checkbox"]:after,
    input[type="radio"]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
            opacity var(--d-o, 0.2s);
    }
    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }
    input[type="checkbox"]:disabled,
    input[type="radio"]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    input[type="checkbox"]:disabled:checked,
    input[type="radio"]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type="checkbox"]:disabled + label,
    input[type="radio"]:disabled + label {
        cursor: not-allowed;
    }
    input[type="checkbox"]:hover:not(:checked):not(:disabled),
    input[type="radio"]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type="checkbox"]:focus,
    input[type="radio"]:focus {
        box-shadow: 0 0 0 var(--focus) !important;
    }
    input[type="checkbox"]:not(.switch),
    input[type="radio"]:not(.switch) {
        width: 21px;
    }
    input[type="checkbox"]:not(.switch):after,
    input[type="radio"]:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type="checkbox"]:not(.switch):checked,
    input[type="radio"]:not(.switch):checked {
        --o: 1;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }
    input[type="checkbox"]:not(.switch) {
        border-radius: 7px;
    }
    input[type="checkbox"]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 6px;
        top: 3px;
        transform: rotate(var(--r, 20deg));
    }
    input[type="checkbox"]:not(.switch):checked {
        --r: 43deg;
    }
    input[type="checkbox"].switch {
        width: 38px;
        border-radius: 11px;
    }
    input[type="checkbox"].switch:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
    }
    input[type="checkbox"].switch:checked {
        --ab: var(--active-inner);
        --x: 17px;
    }
    input[type="checkbox"].switch:disabled:not(:checked):after {
        opacity: 0.6;
    }
    input[type="radio"] {
        border-radius: 50%;
    }
    input[type="radio"]:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--active-inner);
        opacity: 0;
        transform: scale(var(--s, 0.7));
    }
    input[type="radio"]:checked {
        --s: 0.5;
    }
}
span.wpcf7-form-control-wrap {
    display: inline-block;
    margin-top: 8px;
}
.wp-block-themeisle-blocks-posts-grid.has-shadow
    .wp-block-themeisle-blocks-posts-grid-post-blog
    .wp-block-themeisle-blocks-posts-grid-post
    .wp-block-themeisle-blocks-posts-grid-post-image
    img {
    box-shadow: none !important;
}
div.wp-block-themeisle-blocks-posts-grid-post-blog.wp-block-themeisle-blocks-posts-grid-post-plain {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    padding: 0;
}
div.wp-block-themeisle-blocks-posts-grid-post-image {
    margin-bottom: 5px;
}
div.wp-block-themeisle-blocks-posts-grid-post-image > a {
    display: block;
}
div.wp-block-themeisle-blocks-posts-grid-post-image > a > img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
}
div.wp-block-themeisle-blocks-posts-grid-post-body {
    padding: 0 10px 0 10px;
}
div.wp-block-themeisle-blocks-posts-grid-post-blog.wp-block-themeisle-blocks-posts-grid-post-plain {
    transition: 0.3s;
}
div.wp-block-themeisle-blocks-posts-grid-post-blog.wp-block-themeisle-blocks-posts-grid-post-plain:hover {
    transform: scale(0.985);
}
div.wp-block-themeisle-blocks-posts-grid-post-blog.wp-block-themeisle-blocks-posts-grid-post-plain:hover
    div.wp-block-themeisle-blocks-posts-grid-post-image {
    filter: brightness(80%);
}
@media (min-width: 768px) {
    div.wp-block-themeisle-blocks-posts-grid-post-blog.wp-block-themeisle-blocks-posts-grid-post-plain {
        flex: 0 0 calc(100% / 3 - 20px);
        width: calc(100% / 3 - 20px);
        max-width: calc(100% / 3 - 20px);
        min-width: calc(100% / 3 - 20px);
    }
    .wp-block-themeisle-blocks-posts-grid.wp-block-themeisle-blocks-posts-grid-columns-3 {
        justify-content: space-around;
    }
    .wp-block-themeisle-blocks-posts-grid:after,
    .wp-block-themeisle-blocks-posts-grid:before {
        display: none;
    }
}
@media (max-width: 767px) {
    div.wp-block-themeisle-blocks-posts-grid-post-blog.wp-block-themeisle-blocks-posts-grid-post-plain {
        flex: 0 0 calc(100% - 20px);
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
        min-width: calc(100% - 20px);
    }
    .wp-block-themeisle-blocks-posts-grid.wp-block-themeisle-blocks-posts-grid-columns-3 {
        justify-content: center;
    }
    div.post-content-single {
        padding: 0 !important;
    }
}
span.wp-block-themeisle-blocks-posts-grid-post-category {
    display: inline-block;
    line-height: 30px;
    padding: 0 16px 0 16px;
    background: var(--fw-fairwind);
    color: #fff;
    height: 30px;
    border-radius: 5px 0 5px 0 !important;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
}
p.wp-block-themeisle-blocks-posts-grid-post-description {
    line-height: 1.6em;
}
form#searchform {
    height: 44px;
}
form#searchform > div {
    display: flex;
    height: 44px;
}
form#searchform > div input {
    flex: 0 0 calc(100% - 44px);
    border-radius: 5px 0 0 5px;
    border-right: 0;
    transition: 0.3s;
    height: 44px;
    border-color: #bbb;
}
form#searchform > div input:hover {
    background: #ececec;
}
form#searchform > div input:focus {
    border-right: 0;
    background: #fff;
    border-color: var(--fw-fairwind);
}
select {
    border-color: #bbb;
    border-radius: 5px;
}
form#searchform > div button {
    flex: 0 0 44px;
    border: 0;
    background-color: var(--fw-fairwind);
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    height: 44px;
}
form#searchform > div button:hover {
    filter: brightness(80%);
}
.footer input {
    width: calc(100% - 44px);
}
#tag-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 0;
}
#tag-list li {
    color: #fff;
}
#tag-list li a {
    --fw-tag: #03a9f4;
    --fw-tag-hover: #c0ebff;
    transition: 0.3s;
    position: relative;
    display: inline-block;
    height: 32px;
    margin-left: 24px;
    padding: 3px 12px 3px 18px;
    color: #fff;
    background: var(--fw-tag);
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 26px;
    border-radius: 0 5px 5px 0;
}
#tag-list li a:before {
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: -12px;
    content: "";
    border-width: 16px 12px 16px 0;
    border-style: solid;
    border-color: transparent var(--fw-tag) transparent transparent;
}
#tag-list li a:after {
    position: absolute;
    top: calc(50% - 4px);
    left: 2px;
    width: 8px;
    height: 8px;
    content: "";
    border-radius: 50%;
    background: #fff;
}
#tag-list li a:hover {
    background: var(--fw-tag-hover);
    color: var(--fw-tag);
}
#tag-list li a:hover:before {
    border-right-color: var(--fw-tag-hover);
}
#related-posts li {
    display: block;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: 0.3s;
}
#related-posts li:hover {
    filter: brightness(80%);
    transform: scale(0.98);
}
#related-posts li a {
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}
#related-posts img {
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
    width: 100%;
}
#related-posts span {
    margin: 0 10px 0 10px;
    display: inline-block;
    color: inherit;
}
#related-posts {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-left: 0;
}
#related-posts::after,
#related-posts::before {
    display: none;
}
#about-fw a:not(:hover) {
    color: #333;
}
@media (min-width: 768px) {
    #related-posts li {
        flex: 0 0 32%;
    }
}
@media (max-width: 767px) {
    #related-posts li {
        flex: 0 0 48%;
    }
}
#about-fw {
    display: block;
    margin-bottom: 1em;
    background: #e3e3e3;
    padding: 16px 18px;
    border-radius: 5px;
    font-size: 16px;
}
.wp-block-themeisle-blocks-font-awesome-icons.animation span i:before {
    transition: 0.3s;
}
p.wp-block-themeisle-blocks-font-awesome-icons + h6 > strong > a {
    text-decoration: none;
    transition: 0.3s;
}
div.wp-block-columns.fw-activities {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px !important;
    align-content: flex-start;
    justify-content: center;
    padding: 0 10px;
}
div.wp-block-columns.fw-activities::before,
div.wp-block-columns.fw-activities::after {
    display: none !important;
}
div.wp-block-columns.fw-activities > div.wp-block-column {
    flex: 0 0 calc(100% / 6 - 20px);
    box-shadow: 0 10px 25px 0 rgba(0, 36, 57, 0.25) !important;
    border-radius: 5px;
    background: -webkit-linear-gradient(0deg, #03a9f4, #0490ed);
    height: calc(
        var(--fw-top-activity-icon-size) + var(--fw-top-activity-text-height)
    );
    transition: 0.3s;
    margin: 0 !important;
}
div.wp-block-columns.fw-activities > div.wp-block-column:hover {
    filter: brightness(80%);
    transform: scale(0.98);
}
div.wp-block-columns.fw-activities > div.wp-block-column > h6 {
    margin: 0;
    height: var(--fw-top-activity-text-height);
    display: table;
    width: 100%;
}
div.wp-block-columns.fw-activities > div.wp-block-column > h6 strong {
    display: table-row;
    height: 100%;
    width: 100%;
}
div.wp-block-columns.fw-activities > div.wp-block-column > h6 a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
    color: #fff;
    padding: 16px 7px 18px 7px;
}
div.wp-block-columns.fw-activities
    > div.wp-block-column
    span.wp-block-themeisle-blocks-font-awesome-icons-container
    a {
    position: relative;
}
div.wp-block-columns.fw-activities
    > div.wp-block-column
    span.wp-block-themeisle-blocks-font-awesome-icons-container
    a:after {
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: var(--fw-top-activity-icon-size);
    left: 10%;
}
div.wp-block-columns.fw-activities
    > div.wp-block-column
    span.wp-block-themeisle-blocks-font-awesome-icons-container
    i:before {
    color: #fff;
    -webkit-text-fill-color: #fff;
}
div.wp-block-columns.fw-activities
    > div.wp-block-column
    > p.wp-block-themeisle-blocks-font-awesome-icons {
    height: var(--fw-top-activity-icon-size);
    margin: 0;
}
div.wp-block-columns.fw-activities
    > div.wp-block-column
    > p.wp-block-themeisle-blocks-font-awesome-icons
    * {
    display: block;
    text-align: center;
    width: 100% !important;
    height: 100%;
}
div.wp-block-columns.fw-activities
    > div.wp-block-column
    > p.wp-block-themeisle-blocks-font-awesome-icons
    a {
    text-decoration: none;
}
div.wp-block-columns.fw-activities
    > div.wp-block-column
    span.wp-block-themeisle-blocks-font-awesome-icons-container
    * {
    line-height: var(--fw-top-activity-icon-size);
}
div.wp-block-columns.fw-activities > div.wp-block-column div.wp-block-spacer {
    display: none;
}
@media (max-width: 767px) {
    div.wp-block-columns.fw-activities > div.wp-block-column {
        flex: 0 0 calc(100% / 2 - 20px) !important;
        flex-basis: calc(100% / 2 - 20px) !important;
    }
    div.wp-block-columns.fw-activities {
        gap: 20px 20px !important;
    }
}
@media (min-width: 768px) {
    #wp-block-themeisle-blocks-font-awesome-icons-39ab4fdd
        .wp-block-themeisle-blocks-font-awesome-icons-container
        i {
        font-size: 85px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    div.wp-block-columns.fw-activities > div.wp-block-column {
        flex: 0 0 calc(100% / 3 - 20px) !important;
    }
    div.wp-block-columns.fw-activities {
        gap: 20px 20px !important;
    }
    div.content.post-page > div.gridContainer > div.row > div {
        max-width: 100%;
        flex-basis: 100%;
    }
    div.content.post-page
        > div.gridContainer
        > div.row
        > div:first-child
        div.post-content-single {
        padding: 0;
    }
}
.nav-links .meta-nav {
    display: none;
}
.nav-links {
    display: flex;
    min-height: 60px;
    padding: 0;
}
.nav-links > div {
    display: table;
    position: relative;
}
.nav-links > div > a {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    position: relative;
    transition: 0.3s;
}
.nav-links > div > a:hover:after,
.nav-links > div > a:hover:before {
    color: inherit;
}
.nav-links > div > a > span {
    display: inline-block;
}
.nav-previous > a {
    padding-left: 5px;
}
.nav-next > a {
    padding-right: 5px;
}
.nav-previous {
    padding: 0 10px 0 25px !important;
}
.nav-next {
    padding: 0 25px 0 10px !important;
}
.nav-next > a:before,
.nav-previous > a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    font-size: 24px;
    color: #aaa;
    top: calc(50% - 12px);
    transition: 0.3s;
    height: 24px;
    line-height: 24px;
    display: block;
}
.nav-previous > a:before {
    content: "\f104";
    left: -20px;
}
.nav-previous > a:hover:before {
    left: -25px;
}
.nav-next > a:before {
    content: "\f105";
    right: -20px;
}
.nav-next > a:hover:before {
    right: -25px;
}
#offcanvas_menu li a {
    padding: 1rem 0 1rem 2.5rem;
}
.footer-content-lists a .fa {
    font-family: "Font Awesome 5 Brands", FontAwesome;
}
.logo-link.dark {
    height: 35px;
}
.content .search-highlight {
    background: linear-gradient(
        transparent 60%,
        var(--fw-highlight-yellow) 60%
    );
}
#recent-posts-7 li {
    display: block;
    padding: 12px 0;
    line-height: 1.6;
}
#recent-posts-7 li:first-child {
    padding-top: 0;
}
#recent-posts-7 li:not(:last-child) {
    border-bottom: solid 1px rgba(128, 128, 128, 0.2);
}
.footer a {
    text-decoration: none !important;
}
.footer a:not(.social-icon):hover {
    border-bottom: 1px solid #999;
}
#meta-date:before {
    font-family: "Font Awesome 5 Free";
    content: "\f073";
    margin-right: 4px;
}
#meta-category .post-categories {
    display: inline-block;
    margin: 0;
}
#meta-category .post-categories li:not(:last-child) {
    margin-right: 4px;
}
#meta-category .post-categories,
#meta-category .post-categories li {
    margin-left: 0;
}
#meta-category a {
    color: #888;
    display: block;
    text-decoration: none;
    padding: 4px 12px;
    border: solid 1px;
    border-radius: 20px;
    transition: 0.3s;
    margin-bottom: 6px;
}
#meta-category a:hover {
    color: #666;
    background: #ddd;
}
#meta-category a::before {
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    margin-right: 4px;
    font-weight: 700;
}
#meta-category {
    display: inline-block;
    margin-left: 0;
}
#meta-date {
    margin-bottom: 6px;
    color: #fff;
    text-decoration: none;
    padding: 4px 12px;
    border: solid 1px #888;
    border-radius: 20px;
    background: #888;
    margin-right: 4px;
}
.post-meta > div {
    max-width: 100% !important;
    flex-basis: 100% !important;
    width: 100% !important;
}
.post-list .post-excerpt {
    margin-top: 6px;
}
.child_categories {
    width: 100%;
    max-width: 300px;
    margin-bottom: 24px;
}
.child_categories a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #333;
    line-height: 40px;
    transition: 0.3s;
}
.child_categories label {
    display: block !important;
    margin: 0 0 4px 0 !important;
    padding: 0 15px;
    line-height: 40px !important;
    height: 40px;
    color: #fff;
    background: var(--fw-fairwind);
    cursor: pointer !important;
    border-radius: 5px;
    position: relative;
    font-size: inherit !important;
    transition: 0.5s;
}
.child_categories label:hover {
    filter: brightness(90%);
}
#child_categories:checked ~ .child_categories label {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}
.child_categories label:before {
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    margin-right: 12px;
    font-size: 100%;
    transition: 0.3s;
}
.child_categories input {
    display: none;
}
.child_categories ul {
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    max-width: 300px;
}
.child_categories li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.child_categories li a:before {
    content: "\f07b";
    font-family: "Font Awesome 5 Free";
    margin-right: 12px;
    font-size: 100%;
    transition: 0.3s;
}
.child_categories li a:hover {
    background: #eee;
}
#child_categories:checked ~ #categories li:not(:last-child) {
    border-bottom: solid 1px #eee;
}
#child_categories:checked ~ #categories li {
    height: 40px;
    opacity: 1;
}
#child_categories:checked ~ #categories {
    border: solid 1px #ccc;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}
#breadcrumb {
    margin: 0 0 16px 0;
    padding: 0;
    list-style: none;
}
#breadcrumb li {
    display: inline;
    list-style: none;
    font-size: 14px;
}
#breadcrumb li:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f0da";
    padding: 0 4px;
    color: silver;
}
#breadcrumb li:last-child:after {
    content: "";
}
#breadcrumb li a {
    text-decoration: none;
    background: #eee;
    color: #888;
    padding: 4px 12px;
    border-radius: 20px;
    transition: 0.3s;
}
#breadcrumb li a:hover {
    background: #888;
    color: #eee;
}
#breadcrumb li:first-child a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700 !important;
    content: "\f015";
    font-weight: 400;
    font-size: 1.1em;
    color: #888;
    margin-right: 2px;
}
#breadcrumb li:first-child a:hover:before {
    color: #eee;
}
.header,
.header-homepage {
    background-size: cover !important;
}
[data-parallax-depth] {
    background-attachment: local !important;
}
.post-list .post-title {
    line-height: 1.4;
}
h1.hero-title {
    font-weight: 400 !important;
}
#main_menu li a {
    font-size: 14px;
}
::selection {
    background: rgba(255, 217, 31, 0.5);
}
h1.hero-title {
    font-feature-settings: "palt";
    line-height: 1.4;
    font-size: 48px;
}
p.header-subtitle {
    font-size: 20px;
}
div.header-separator {
    height: 108px;
}
@media (max-width: 1023px) {
    h1.hero-title {
        font-size: 44px;
    }
}
@media (max-width: 767px) {
    h1.hero-title {
        font-size: 36px;
    }
    p.header-subtitle {
        font-size: 16px;
    }
    .inner-header-description {
        text-align: left;
    }
    div.header-separator {
        height: 60px;
    }
    div.header-description-row {
        margin-bottom: 16px;
    }
}
.content.post-page {
    padding-top: 28px;
}
.post-content-inner {
    margin-bottom: 0;
}
.page-links {
    text-align: center;
    margin-bottom: 24px;
}
.page-links .page-links-title {
    display: none;
}
.page-links .post-page-numbers {
    padding: 8px 15px;
    margin: 5px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}
.page-links .post-page-numbers.current,
.page-links .post-page-numbers:hover {
    background-color: #03a9f4;
    color: #fff;
}
.post-meta > div {
    max-width: 100% !important;
    flex-basis: 100% !important;
    width: 100% !important;
}
.post-meta > div {
    max-width: 100% !important;
    flex-basis: 100% !important;
    width: 100% !important;
}
.wp-block-themeisle-blocks-accordion-item__title {
    border: none !important;
    margin-top: 1rem;
    transition: 0.3s;
}
.wp-block-themeisle-blocks-accordion-item__title div {
    font-weight: 700;
    font-feature-settings: "palt";
    font-size: 18px;
    line-height: 1.3;
    padding: 1rem 1.5rem 1rem 2rem !important;
    color: #333 !important;
    border-radius: 5px;
    display: block;
    text-align: left !important;
    margin: 0 !important;
    transition: 0.3s;
    position: relative;
    border: solid 1.5px #ccc;
    background: #fff;
}
.wp-block-themeisle-blocks-accordion-item__title div:before {
    content: "";
    width: 0;
    height: 26px;
    border-radius: 6px;
    border: solid 3px var(--fw-fairwind);
    display: block;
    position: absolute;
    margin-left: calc(-1.5rem + 3px);
}
.wp-block-themeisle-blocks-accordion-item__title div:after {
    border-right: 3px solid var(--fw-fairwind) !important;
    border-bottom: 3px solid var(--fw-fairwind) !important;
    transition: 0.3s;
}
.wp-block-themeisle-blocks-accordion-item__content {
    padding: 1rem 0 1rem 0 !important;
    border: none !important;
}
@media screen and (max-width: 767px) {
    .wp-block-themeisle-blocks-accordion-item__title div {
        padding: 1rem calc(50vw - 50%) 1rem 2rem !important;
        margin: 0 calc(50% - 50vw + 15px) !important;
    }
    .wp-block-themeisle-blocks-accordion-item__content {
        border: none !important;
    }
    .wp-block-themeisle-blocks-accordion-item__content :first-child {
        margin-top: 0 !important;
    }
}
.framed dl {
    margin-top: 12px;
}
dl dt {
    font-weight: 400;
}
.framed dl dd:first-of-type,
.framed dl dt:first-of-type {
    border-bottom: double 3px #333;
}
.div > div * {
    line-height: 1.8 !important;
}

@media (max-width: 1024px) {
    body,
    html {
        font-size: 16px;
    }
}

/* Timeline */
/*********************************
* タイムライン
*********************************/
.ptimeline-wrap {
    margin: 0 auto 2rem;
}
.ptimeline-wrap .ptimeline {
    padding: 0 !important;
    list-style: none !important;
}
.ptimeline-wrap .ptimeline-label {
    padding: 3px 0 0 2px;
    color: #777;
    font-size: 0.9em;
}
.ptimeline-wrap .ptimeline-title {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5;
    color: var(--fw-fairwind);
}
.ptimeline-wrap .ptimeline-main {
    margin-top: 0.5em;
    padding: 0 0 1.5em;
    line-height: 1.8;
    border-bottom: dashed 1px #ddd;
    color: #333;
}
.ptimeline-wrap .ptimeline-main img {
    display: block;
    margin: 1em auto;
}
.ptimeline-wrap .ptimeline-item {
    position: relative;
    padding: 0 0 1em 1.5em !important;
    margin-bottom: 0 !important;
    border: none;
}
.ptimeline-wrap .ptimeline .ptimeline-item:before {
    content: "";
    width: 3px;
    background: #eee !important;
    display: block;
    position: absolute;
    top: 25px;
    bottom: -3px;
    left: 5px;
}
.ptimeline-wrap .ptimeline-item:last-child:before {
    content: none;
}
/*********************************
* タイムライン マーカー
*********************************/
.ptimeline-wrap .ptimeline-marker {
    display: block;
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 3px var(--fw-fairwind);
    background: var(--fw-fairwind);
}
/* Timeline end */

/* ARTB Mobile View Optimization */
@media (max-width: 768px) {
    span.artb-7440,
    span.artb-7441,
    span.artb-7168,
    span.artb-7171 {
        padding: 4.6em 1em 1em 1em !important;
    }
    span.artb-7440::after,
    span.artb-7441::after,
    span.artb-7168::after,
    span.artb-7171::after {
        height: 0 !important;
        width: 60% !important;
        left: 20% !important;
        top: 3.4em !important;
        border-bottom: 2px dashed !important;
        border-bottom-color: currentcolor !important;
        border-bottom-color: var(--theme) !important;
    }
    span.artb-7440::before,
    span.artb-7441::before,
    span.artb-7168::before,
    span.artb-7171::before {
        left: 50% !important;
        top: 1.8em !important;
        transform: translateY(-50%) scale(1.5) !important;
    }
}
